@import 'variables';

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    width: 100%;
    min-height: 25px;
    border: 1px solid medium;
    transition: all 0.3s ease;
    display: block;
    transform: scale(.95);
    text-decoration: none;
    background-color: $dark;
    color: $light;
    cursor: pointer;
    position: relative;
    &:hover {
        box-shadow: 5px 5px 10px 2px $dark;
        transform: scale(1);
        > .overlay {
            height: 100%;
        }
    }
    > * {
        // to prevent event bubbles
        pointer-events: none;
    }
    > .overlay {
        position: absolute;
        color: white;
        height: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,0.3);
        font-size: 50px;
        transition: all 0.3s ease;
        overflow: hidden;
        @include flex-center();
    }
    > .card-top {
        img {
            width: 100%;
            height: auto;
        }
    }
    > .card-content {
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
    }
    > .card-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        > .price {
            color: $light;
            font-size: 20px;
        }
        > .quantity {
            color: $medium;
        }
        > .separator {
            padding: 10px;
        }
    }
}

.card-col {
    width: 100%;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    .card-col {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .card-col {
        width: 33.333%;
    }
}

@media screen and (min-width: 1200px) {
    .card-col {
        width: 25%;
    }
}